<head>
<title> Entry Page </title>
<link rel="stylesheet" href="/public/css/site.css">
</head>

<body>
<h1>Private</h1>
<main>
    <h2>ID:{{info._id}}</h2>
    <h2>Username:{{info.username}}</h2>
    <h2>First Name:{{info.firstName}}</h2>
    <h2>Last Name:{{info.lastName}}</h2>
    <h2>Profession:{{info.profession}}</h2>
    <h2>Bio:{{info.bio}}</h2>
    
<a href="/logout">Log Out</a>
</main>   
</body>
